<div class="container leftcolumn">
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Linea</th>
      <th scope="col">Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehiculo of vehiculos">
      <th scope="row">{{ vehiculo.id }}</th>
      <td>{{ vehiculo.marca }}</td>
      <td>{{ vehiculo.linea }}</td>
      <td>{{ vehiculo.modelo }}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="resumen">
  <span *ngFor="let marca of resumen">Total {{ marca.marca }}: {{ marca.cantidad }}<br/></span>
</div>